<a href="https://colab.research.google.com/github/AdairGtz/AAAAA/blob/master/proyecto_de_mes%20_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Regresi√≥n**

In [35]:
import pandas as pd

In [36]:
df= pd.read_csv('https://raw.githubusercontent.com/AdairGtz/Practica/main/Luxury%20watch.csv')
df.head(5)

,Brand,Model,Case Material,Strap Material,Movement Type,Water Resistance,Case Diameter (mm),Case Thickness (mm),Band Width (mm),Dial Color,Crystal Material,Complications,Power Reserve,Price (USD)
0,Rolex,Submariner,Stainless Steel,Stainless Steel,Automatic,300 meters,40.0,13.00,20.0,Black,Sapphire,Date,48 hours,"9,500"
1,Omega,Seamaster,Titanium,Rubber,Automatic,600 meters,43.5,14.47,21.0,Blue,Sapphire,Date,60 hours,"5,800"
2,Tag Heuer,Carrera,Stainless Steel,Leather,Automatic,100 meters,41.0,13.00,20.0,White,Sapphire,Chronograph,42 hours,"4,200"
3,Breitling,Navitimer,Stainless Steel,Stainless Steel,Automatic,30 meters,43.0,14.25,22.0,Black,Sapphire,Chronograph,70 hours,"7,900"
4,Cartier,Tank Solo,Stainless Steel,Leather,Quartz,30 meters,31.0,6.05,20.0,Silver,Sapphire,None,NaN,"2,800"

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                507 non-null    object
 1   Model                507 non-null    object
 2   Case Material        507 non-null    object
 3   Strap Material       507 non-null    object
 4   Movement Type        507 non-null    object
 5   Water Resistance     507 non-null    object
 6   Case Diameter (mm)   507 non-null    float64
 7   Case Thickness (mm)  507 non-null    float64
 8   Band Width (mm)      507 non-null    float64
 9   Dial Color           507 non-null    object
 10  Crystal Material     507 non-null    object
 11  Complications        507 non-null    object
 12  Power Reserve        493 non-null    object
 13  Price (USD)          506 non-null    object
dtypes: float64(3), object(11)
memory usage: 55.6+ KB

In [38]:
df.isnull().sum()

Brand                   0
Model                   0
Case Material           0
Strap Material          0
Movement Type           0
Water Resistance        0
Case Diameter (mm)      0
Case Thickness (mm)     0
Band Width (mm)         0
Dial Color              0
Crystal Material        0
Complications           0
Power Reserve          14
Price (USD)             1
dtype: int64

In [39]:
# tratamiento de nulos

In [40]:
df['Complications'].unique()

array(['Date', 'Chronograph', 'None', 'Date, GMT',
       'Chronograph, Tachymeter', 'GMT', 'World Time, GMT',
       'Date, Moon Phase', 'Chronograph, Date', 'Date, Second Time Zone',
       'Date, Unidirectional Bezel', 'Date, Power Reserve Indicator',
       'Date, Chronograph', 'Date, Chronograph, Flyback',
       'Date, Power Reserve, Moon Phase', 'Date, Power Reserve',
       'Power Reserve', 'Day/Date', 'Chronograph, Moon Phase',
       'GMT, Date', 'Date, Rotating Bezel', 'Date, Stopwatch',
       'Date, Cyclops', 'Date, Moonphase', 'Date, Cyclops Lens',
       'Date, Sub Seconds', 'Date, Chronograph, Moon Phase',
       'Date, World Time', 'Dual Time Zone',
       'Date, Chronograph, Tachymeter'], dtype=object)

In [41]:
df['Complications'].mode()

0    Date
Name: Complications, dtype: object

In [42]:
df['Power Reserve'].unique()

array(['48 hours', '60 hours', '42 hours', '70 hours', nan, '45 hours',
       '50 hours', '270 days', '38 hours', '80 hours', '64 hours',
       '40 hours', '56 hours', '4,200', '120 hours', '68 hours',
       '54 hours', '46 hours', '72 hours', '44 hours', '210 days',
       '65 hours', '43 hours', '41 hours', '55 hours', '168 hours'],
      dtype=object)

In [43]:
df['Power Reserve'].mode()

0    60 hours
Name: Power Reserve, dtype: object

In [44]:
df['Price (USD)'].unique()

array(['9,500', '5,800', '4,200', '7,900', '2,800', '5,500', '1,400',
       '1,200', '650', '495', '1,150', '1,800', '4,500', '16,000',
       '22,000', '19,000', '3,200', '3,900', '3,500', '14,000', '4,800',
       '7,500', nan, '6,200', '21,000', '9,000', '5,250', '8,800',
       '17,800', '11,500', '6,500', '23,500', '10,000', '21,500', '9,800',
       '19,900', '14,400', '12,800', '7,800', '9,200', '8,400', '1,600',
       '29,800', '24,500', '7,950', '8,200', '9,400', '6,700', '6,100',
       '16,300', '3,600', '8,900', '44,500', '17,000', '8,300', '12,000',
       '6,900', '15,500', '11,200', '18,900', '49,800', '9,600', '14,700',
       '10,600', '19,200', '5,600', '995', '545', '3,800', '1,500',
       '2,500', '38,000', '55,000', '23,000', '8,500', '6,000', '16,500',
       '16,800', '19,800', '47,000', '18,500', '2,200', '9,950', '4,950',
       '13,900', '20,500', '18,000', '13,500', '26,000', '23,100',
       '17,900', '15,200', '1,300', '2,750', '8,700', '3,350', '8,000',
       '5,700', '34,000', '6,800', '5,300', '17,500', '15,000', '5,000',
       '12,500', '19,500', '20,800', '13,000', '9,700', '7,400', '4,300',
       '9,100', '20,900', '1,700', '2,600', '4,400', '595', '5,400',
       '25,000', '20,000', '10,500', '51,000', '14,500', '6,400',
       '20,400', '62,500', '14,900', '5,900', '2,700', '4,700', '4,600',
       '39,500', '6,550', '3,850', '25,800', '4,100', '12,900', '8,100',
       '44,000', '13,200', '20,200', '24,800', '4,000', '22,500',
       '70,000', '7,200', '7,600', '57,000', '29,500', '36,500', '7,000',
       '3,100', '4,900', '1,850', '5,350', '3,250', '14,200', '27,000',
       '7,250', '52,000', '28,500', '39,000', '24,000', '11,000', '3,700',
       '5,200', '40,000', '9,450', '22,300', '23,300', '23,200', '6,300',
       '6,600', '22,900', '29,000', '38,500', '28,000', '36,000', '9,900',
       '7,650', '67,000', '27,900', '35,000'], dtype=object)

In [45]:
df['Price (USD)'].mode()

0    7,500
Name: Price (USD), dtype: object

In [46]:
df['Complications']= df['Complications'].fillna( df['Complications'].mode()[0] )
df['Power Reserve']= df['Power Reserve'].fillna( df['Power Reserve'].mode()[0] )
df['Price (USD)']= df['Price (USD)'].fillna( df['Price (USD)'].mode()[0] )

df.isnull().sum()

Brand                  0
Model                  0
Case Material          0
Strap Material         0
Movement Type          0
Water Resistance       0
Case Diameter (mm)     0
Case Thickness (mm)    0
Band Width (mm)        0
Dial Color             0
Crystal Material       0
Complications          0
Power Reserve          0
Price (USD)            0
dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                507 non-null    object
 1   Model                507 non-null    object
 2   Case Material        507 non-null    object
 3   Strap Material       507 non-null    object
 4   Movement Type        507 non-null    object
 5   Water Resistance     507 non-null    object
 6   Case Diameter (mm)   507 non-null    float64
 7   Case Thickness (mm)  507 non-null    float64
 8   Band Width (mm)      507 non-null    float64
 9   Dial Color           507 non-null    object
 10  Crystal Material     507 non-null    object
 11  Complications        507 non-null    object
 12  Power Reserve        507 non-null    object
 13  Price (USD)          507 non-null    object
dtypes: float64(3), object(11)
memory usage: 55.6+ KB

In [48]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()

df['Brand'] = encoder.fit_transform(df[['Brand']])
df['Model'] = encoder.fit_transform(df[['Model']])
df['Case Material'] = encoder.fit_transform(df[['Case Material']])
df['Strap Material'] = encoder.fit_transform(df[['Strap Material']])
df['Movement Type'] = encoder.fit_transform(df[['Movement Type']])
df['Water Resistance'] = encoder.fit_transform(df[['Water Resistance']])
df['Dial Color'] = encoder.fit_transform(df[['Dial Color']])
df['Crystal Material'] = encoder.fit_transform(df[['Crystal Material']])
df['Complications'] = encoder.fit_transform(df[['Complications']])
df['Power Reserve'] = encoder.fit_transform(df[['Power Reserve']])

df['Price (USD)'] = encoder.fit_transform(df[['Price (USD)']])

df.head(5)

,Brand,Model,Case Material,Strap Material,Movement Type,Water Resistance,Case Diameter (mm),Case Thickness (mm),Band Width (mm),Dial Color,Crystal Material,Complications,Power Reserve,Price (USD)
0,29.0,85.0,13.0,11.0,0.0,7.0,40.0,13.00,20.0,0.0,3.0,4.0,13.0,175.0
1,23.0,80.0,14.0,9.0,0.0,11.0,43.5,14.47,21.0,1.0,3.0,4.0,18.0,128.0
2,33.0,16.0,13.0,5.0,0.0,0.0,41.0,13.00,20.0,6.0,3.0,0.0,8.0,104.0
3,7.0,59.0,13.0,11.0,0.0,6.0,43.0,14.25,22.0,0.0,3.0,0.0,22.0,158.0
4,10.0,89.0,13.0,5.0,3.0,6.0,31.0,6.05,20.0,5.0,3.0,27.0,18.0,53.0

In [54]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['Brand'] = scaler.fit_transform(df[['Brand']])
df['Model'] = scaler.fit_transform(df[['Model']])
df['Case Material'] = scaler.fit_transform(df[['Case Material']])
df['Strap Material'] = scaler.fit_transform(df[['Strap Material']])
df['Movement Type'] = scaler.fit_transform(df[['Movement Type']])
df['Water Resistance'] = scaler.fit_transform(df[['Water Resistance']])
df['Dial Color'] = scaler.fit_transform(df[['Dial Color']])
df['Crystal Material'] = scaler.fit_transform(df[['Crystal Material']])
df['Complications'] = scaler.fit_transform(df[['Complications']])
df['Power Reserve'] = scaler.fit_transform(df[['Power Reserve']])
#df['Price (USD)'] = scaler.fit_transform(df[['Price (USD)']])


df['Case Diameter (mm)'] = scaler.fit_transform(df[['Case Diameter (mm)']])
df['Case Thickness (mm)'] = scaler.fit_transform(df[['Case Thickness (mm)']])
df['Band Width (mm)'] = scaler.fit_transform(df[['Band Width (mm)']])

df.head(5)

,Brand,Model,Case Material,Strap Material,Movement Type,Water Resistance,Case Diameter (mm),Case Thickness (mm),Band Width (mm),Dial Color,Crystal Material,Complications,Power Reserve,Price (USD)
0,0.763158,0.904255,0.8125,0.846154,0.0,0.636364,0.657895,0.6400,0.384615,0.000000,1.0,0.137931,0.541667,175.0
1,0.605263,0.851064,0.8750,0.692308,0.0,1.000000,0.842105,0.7576,0.461538,0.166667,1.0,0.137931,0.750000,128.0
2,0.868421,0.170213,0.8125,0.384615,0.0,0.000000,0.710526,0.6400,0.384615,1.000000,1.0,0.000000,0.333333,104.0
3,0.184211,0.627660,0.8125,0.846154,0.0,0.545455,0.815789,0.7400,0.538462,0.000000,1.0,0.000000,0.916667,158.0
4,0.263158,0.946809,0.8125,0.384615,1.0,0.545455,0.184211,0.0840,0.384615,0.833333,1.0,0.931034,0.750000,53.0

In [244]:
X = df.drop('Price (USD)', axis=1)
y = df['Price (USD)']

In [245]:
X.head(10)

,Brand,Model,Case Material,Strap Material,Movement Type,Water Resistance,Case Diameter (mm),Case Thickness (mm),Band Width (mm),Dial Color,Crystal Material,Complications,Power Reserve
0,0.763158,0.904255,0.8125,0.846154,0.000000,0.636364,0.657895,0.6400,0.384615,0.000000,1.000000,0.137931,0.541667
1,0.605263,0.851064,0.8750,0.692308,0.000000,1.000000,0.842105,0.7576,0.461538,0.166667,1.000000,0.137931,0.750000
2,0.868421,0.170213,0.8125,0.384615,0.000000,0.000000,0.710526,0.6400,0.384615,1.000000,1.000000,0.000000,0.333333
3,0.184211,0.627660,0.8125,0.846154,0.000000,0.545455,0.815789,0.7400,0.538462,0.000000,1.000000,0.000000,0.916667
4,0.263158,0.946809,0.8125,0.384615,1.000000,0.545455,0.184211,0.0840,0.384615,0.833333,1.000000,0.931034,0.750000
5,0.500000,0.787234,0.8125,0.384615,0.666667,0.545455,0.810526,0.3360,0.384615,0.000000,1.000000,0.931034,0.458333
6,0.789474,0.776596,0.8125,0.692308,0.000000,0.363636,0.884211,0.6320,0.384615,0.000000,1.000000,0.137931,0.583333
7,0.315789,0.765957,0.8125,0.846154,0.333333,0.363636,0.763158,0.6400,0.538462,0.000000,0.666667,0.000000,0.125000
8,0.894737,0.478723,0.8125,0.384615,0.000000,0.545455,0.621053,0.3800,0.307692,1.000000,1.000000,0.137931,0.166667
9,0.421053,0.446809,0.8125,0.384615,0.000000,0.000000,0.552632,0.3840,0.384615,0.000000,1.000000,0.931034,1.000000

In [246]:
y.head(10)

0    175.0
1    128.0
2    104.0
3    158.0
4     53.0
5    125.0
6      3.0
7      1.0
8    148.0
9    118.0
Name: Price (USD), dtype: float64

In [247]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [248]:
correlations = abs(df.corr()['Price (USD)'].drop('Price (USD)'))

# Ordenar las caracter√≠sticas por su correlaci√≥n con la variable objetivo
sorted_features = correlations.sort_values(ascending=False)

print(sorted_features)

Brand                  0.275767
Power Reserve          0.267379
Case Material          0.230217
Model                  0.133686
Case Thickness (mm)    0.130832
Water Resistance       0.125966
Movement Type          0.104119
Dial Color             0.070290
Strap Material         0.028403
Case Diameter (mm)     0.022562
Band Width (mm)        0.012207
Complications          0.003944
Crystal Material       0.003642
Name: Price (USD), dtype: float64

In [249]:
X_1 = df.iloc[:, [0,7,1,12]]

In [250]:
y_1=df['Price (USD)']

In [251]:

X_1.head(5)

      Brand  Case Thickness (mm)     Model  Power Reserve
0  0.763158               0.6400  0.904255       0.541667
1  0.605263               0.7576  0.851064       0.750000
2  0.868421               0.6400  0.170213       0.333333
3  0.184211               0.7400  0.627660       0.916667
4  0.263158               0.0840  0.946809       0.750000

In [252]:
from sklearn.model_selection import train_test_split
x1_train,x1_test, y1_train, y1_test = train_test_split(X_1,y,test_size=0.2,random_state=42)

In [253]:
from sklearn.ensemble import RandomForestRegressor
modelo=RandomForestRegressor()
modelo.fit(x1_train,y1_train)

RandomForestRegressor()

In [254]:
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split



model = MLPRegressor(hidden_layer_sizes=(100, 50), activation='relu',  max_iter=1000)


model.fit(x1_train, y1_train)

MLPRegressor(hidden_layer_sizes=(100, 50), max_iter=1000)

In [255]:
from sklearn.model_selection import cross_val_score

scores_RFR = cross_val_score(modelo,X,y,cv=5,scoring='r2')
print("Promedio:", scores_RFR.mean())

Promedio: 0.6222240873713896

In [256]:
from sklearn.model_selection import cross_val_score

scores_Red = cross_val_score(model,X,y,cv=5,scoring='r2')
print("R^2 promedio con NN:", scores_Red.mean())

R^2 promedio con NN: 0.19844448974235845

****

In [132]:
X1= X.iloc[:, [0,7,1,12,6,2,11,8,5,9]]
y2=y.iloc[:]

In [174]:
#capa = tf.keras.layers.Dense(units=138, input_shape=[13])
#modelo = tf.keras.Sequential([capa])

oculta1 = tf.keras.layers.Dense(units=91, input_shape=[10], activation='relu')
oculta2 = tf.keras.layers.Dense(units=180, activation='relu')
salida = tf.keras.layers.Dense(units=1)

modelo = tf.keras.Sequential([oculta1, oculta2, salida])

In [175]:
modelo.compile(
    optimizer=tf.keras.optimizers.Adam(0.01),
    loss='mean_squared_error'
)

In [176]:
y.head(5)

0    175.0
1    128.0
2    104.0
3    158.0
4     53.0
Name: Price (USD), dtype: float64

In [179]:
print("Comenzando entrenamiento...")
historial = modelo.fit(X1, y2, epochs=1073, verbose=False)
print("Modelo entrenado!")

Comenzando entrenamiento...
Modelo entrenado!

In [180]:
print("Hagamos una predicci√≥n!")
resultado = modelo.predict([X1.iloc[[3], :]])
#resultado = modelo.predict([[0.789474,	0.776596,	0.8125	,0.692308,	0.000000,	0.363636,	0.884211,	0.6320,	0.384615,	0.000000,	1.000000,	0.137931,	0.583333]])
print("El resultado es " + str(resultado) + "USD!")

Hagamos una predicci√≥n!
1/1 [==============================] - 0s 24ms/step
El resultado es [[161.54051]]USD!

# **Modelo de clasificacion**

In [181]:
df_clasificacion = pd.read_csv('https://raw.githubusercontent.com/AdairGtz/Practica/main/NFL.csv')

df_clasificacion.head(5)

,Year,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted
0,2009,Beanie Wells\WellCh00,20.0,Ohio St.,1.8542,106.594207,4.38,85.09,25.0,325.12,NaN,NaN,Arizona Cardinals / 1st / 31st pick / 2009,31.004194,offense,backs_receivers,RB,Yes
1,2009,Will Davis\DaviWi99,22.0,Illinois,1.8796,118.387609,4.84,83.82,27.0,292.10,7.38,4.45,Arizona Cardinals / 6th / 204th pick / 2009,33.510073,defense,defensive_lineman,DE,Yes
2,2009,Herman Johnson\JohnHe23,24.0,LSU,2.0066,165.107623,5.50,NaN,21.0,NaN,NaN,NaN,Arizona Cardinals / 5th / 167th pick / 2009,41.005821,offense,offensive_lineman,OG,Yes
3,2009,Rashad Johnson\JohnRa98,23.0,Alabama,1.8034,92.079251,4.49,93.98,15.0,304.80,7.09,4.23,Arizona Cardinals / 3rd / 95th pick / 2009,28.312463,defense,defensive_back,FS,Yes
4,2009,Cody Brown\BrowCo96,22.0,Connecticut,1.8796,110.676538,4.76,92.71,26.0,304.80,7.10,4.40,Arizona Cardinals / 2nd / 63rd pick / 2009,31.327425,defense,line_backer,OLB,Yes

In [185]:
df_clasificacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3477 entries, 0 to 3476
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 3477 non-null   int64
 1   Player               3477 non-null   object
 2   Age                  2927 non-null   float64
 3   School               3477 non-null   object
 4   Height               3477 non-null   float64
 5   Weight               3477 non-null   float64
 6   Sprint_40yd          3303 non-null   float64
 7   Vertical_Jump        2780 non-null   float64
 8   Bench_Press_Reps     2572 non-null   float64
 9   Broad_Jump           2749 non-null   float64
 10  Agility_3cone        2260 non-null   float64
 11  Shuttle              2337 non-null   float64
 12  Drafted..tm.rnd.yr.  2254 non-null   object
 13  BMI                  3477 non-null   float64
 14  Player_Type          3477 non-null   object
 15  Position_Type        3477 non-null   object
 16  Position             3477 non-null   object
 17  Drafted              3477 non-null   object
dtypes: float64(10), int64(1), object(7)
memory usage: 489.1+ KB

In [186]:
df_clasificacion.isnull().sum()

Year                      0
Player                    0
Age                     550
School                    0
Height                    0
Weight                    0
Sprint_40yd             174
Vertical_Jump           697
Bench_Press_Reps        905
Broad_Jump              728
Agility_3cone          1217
Shuttle                1140
Drafted..tm.rnd.yr.    1223
BMI                       0
Player_Type               0
Position_Type             0
Position                  0
Drafted                   0
dtype: int64

In [187]:
df_clasificacion['Age'] = df_clasificacion['Age'].fillna( df_clasificacion['Age'].mode()[0] )
df_clasificacion['Sprint_40yd'] = df_clasificacion['Sprint_40yd'].fillna( df_clasificacion['Sprint_40yd'].mean() )
df_clasificacion['Vertical_Jump'] = df_clasificacion['Vertical_Jump'].fillna( df_clasificacion['Vertical_Jump'].mean() )
df_clasificacion['Bench_Press_Reps'] = df_clasificacion['Bench_Press_Reps'].fillna( df_clasificacion['Bench_Press_Reps'].mode()[0] )
df_clasificacion['Broad_Jump'] = df_clasificacion['Broad_Jump'].fillna( df_clasificacion['Broad_Jump'].mode()[0] )
df_clasificacion['Agility_3cone'] = df_clasificacion['Agility_3cone'].fillna( df_clasificacion['Agility_3cone'].mean() )
df_clasificacion['Shuttle'] = df_clasificacion['Shuttle'].fillna( df_clasificacion['Shuttle'].mean() )


df_clasificacion['Drafted..tm.rnd.yr._IDENT']= df_clasificacion['Drafted..tm.rnd.yr.'].isnull()
df_clasificacion['Drafted..tm.rnd.yr.']= df_clasificacion['Drafted..tm.rnd.yr.'].fillna( 'Desconocido')



df_clasificacion.isnull().sum()

Year                         0
Player                       0
Age                          0
School                       0
Height                       0
Weight                       0
Sprint_40yd                  0
Vertical_Jump                0
Bench_Press_Reps             0
Broad_Jump                   0
Agility_3cone                0
Shuttle                      0
Drafted..tm.rnd.yr.          0
BMI                          0
Player_Type                  0
Position_Type                0
Position                     0
Drafted                      0
Drafted..tm.rnd.yr._IDENT    0
dtype: int64

In [188]:
df_clasificacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3477 entries, 0 to 3476
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       3477 non-null   int64
 1   Player                     3477 non-null   object
 2   Age                        3477 non-null   float64
 3   School                     3477 non-null   object
 4   Height                     3477 non-null   float64
 5   Weight                     3477 non-null   float64
 6   Sprint_40yd                3477 non-null   float64
 7   Vertical_Jump              3477 non-null   float64
 8   Bench_Press_Reps           3477 non-null   float64
 9   Broad_Jump                 3477 non-null   float64
 10  Agility_3cone              3477 non-null   float64
 11  Shuttle                    3477 non-null   float64
 12  Drafted..tm.rnd.yr.        3477 non-null   object
 13  BMI                        3477 non-null   float64
 14  Player_Type                3477 non-null   object
 15  Position_Type              3477 non-null   object
 16  Position                   3477 non-null   object
 17  Drafted                    3477 non-null   object
 18  Drafted..tm.rnd.yr._IDENT  3477 non-null   bool
dtypes: bool(1), float64(10), int64(1), object(7)
memory usage: 492.5+ KB

In [189]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder()
df_clasificacion['Age'] = encoder.fit_transform(df_clasificacion[['Age']])
df_clasificacion['Height'] = encoder.fit_transform(df_clasificacion[['Height']])
df_clasificacion['Weight'] = encoder.fit_transform(df_clasificacion[['Weight']])
df_clasificacion['Sprint_40yd'] = encoder.fit_transform(df_clasificacion[['Sprint_40yd']])
df_clasificacion['Vertical_Jump'] = encoder.fit_transform(df_clasificacion[['Vertical_Jump']])
df_clasificacion['Bench_Press_Reps'] = encoder.fit_transform(df_clasificacion[['Bench_Press_Reps']])
df_clasificacion['Broad_Jump'] = encoder.fit_transform(df_clasificacion[['Broad_Jump']])
df_clasificacion['Agility_3cone'] = encoder.fit_transform(df_clasificacion[['Agility_3cone']])
df_clasificacion['Shuttle'] = encoder.fit_transform(df_clasificacion[['Shuttle']])
df_clasificacion['BMI'] = encoder.fit_transform(df_clasificacion[['BMI']])
df_clasificacion['Position_Type'] = encoder.fit_transform(df_clasificacion[['Position_Type']])
df_clasificacion['Drafted'] = encoder.fit_transform(df_clasificacion[['Drafted']])
df_clasificacion['Player_Type'] = encoder.fit_transform(df_clasificacion[['Player_Type']])
df_clasificacion['Drafted..tm.rnd.yr._IDENT'] = encoder.fit_transform(df_clasificacion[['Drafted..tm.rnd.yr._IDENT']])
df_clasificacion['Position'] = encoder.fit_transform(df_clasificacion[['Position']])
df_clasificacion['Drafted..tm.rnd.yr.'] = encoder.fit_transform(df_clasificacion[['Drafted..tm.rnd.yr.']])
df_clasificacion['School'] = encoder.fit_transform(df_clasificacion[['School']])


df_clasificacion.head()

,Year,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted,Drafted..tm.rnd.yr._IDENT
0,2009,Beanie Wells\WellCh00,2.0,163.0,8.0,75.0,13.0,31.0,23.0,47.0,82.0,55.0,8.0,514.0,1.0,0.0,15.0,1.0,0.0
1,2009,Will Davis\DaviWi99,4.0,87.0,9.0,101.0,60.0,30.0,25.0,34.0,97.0,60.0,58.0,700.0,0.0,2.0,3.0,1.0,0.0
2,2009,Herman Johnson\JohnHe23,6.0,101.0,14.0,192.0,126.0,29.0,19.0,39.0,82.0,55.0,49.0,1030.0,1.0,5.0,10.0,1.0,0.0
3,2009,Rashad Johnson\JohnRa98,5.0,4.0,6.0,43.0,24.0,38.0,13.0,39.0,67.0,37.0,29.0,295.0,0.0,1.0,6.0,1.0,0.0
4,2009,Cody Brown\BrowCo96,4.0,46.0,9.0,84.0,51.0,37.0,24.0,39.0,68.0,54.0,20.0,544.0,0.0,4.0,11.0,1.0,0.0

In [190]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

df_clasificacion['Age'] = scaler.fit_transform(df_clasificacion[['Age']])
df_clasificacion['Height'] = scaler.fit_transform(df_clasificacion[['Height']])
df_clasificacion['Weight'] = scaler.fit_transform(df_clasificacion[['Weight']])

df_clasificacion['Sprint_40yd'] = scaler.fit_transform(df_clasificacion[['Sprint_40yd']])
df_clasificacion['Vertical_Jump'] = scaler.fit_transform(df_clasificacion[['Vertical_Jump']])
df_clasificacion['Bench_Press_Reps'] = scaler.fit_transform(df_clasificacion[['Bench_Press_Reps']])
df_clasificacion['Broad_Jump'] = scaler.fit_transform(df_clasificacion[['Broad_Jump']])
df_clasificacion['Agility_3cone'] = scaler.fit_transform(df_clasificacion[['Agility_3cone']])
df_clasificacion['Shuttle'] = scaler.fit_transform(df_clasificacion[['Shuttle']])
df_clasificacion['BMI'] = scaler.fit_transform(df_clasificacion[['BMI']])
df_clasificacion['Player_Type'] = scaler.fit_transform(df_clasificacion[['Player_Type']])
df_clasificacion['Position_Type'] = scaler.fit_transform(df_clasificacion[['Position_Type']])
df_clasificacion['Drafted'] = scaler.fit_transform(df_clasificacion[['Drafted']])
df_clasificacion['Drafted..tm.rnd.yr._IDENT'] = scaler.fit_transform(df_clasificacion[['Drafted..tm.rnd.yr._IDENT']])
df_clasificacion['Position'] = scaler.fit_transform(df_clasificacion[['Position']])
df_clasificacion['Drafted..tm.rnd.yr.'] = scaler.fit_transform(df_clasificacion[['Drafted..tm.rnd.yr.']])
df_clasificacion['Drafted..tm.rnd.yr.'] = scaler.fit_transform(df_clasificacion[['Drafted..tm.rnd.yr.']])
df_clasificacion['School'] = scaler.fit_transform(df_clasificacion[['School']])
df_clasificacion['Drafted'] = scaler.fit_transform(df_clasificacion[['Drafted']])


df_clasificacion.head(5)

,Year,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position,Drafted,Drafted..tm.rnd.yr._IDENT
0,2009,Beanie Wells\WellCh00,0.2,0.646825,0.470588,0.388601,0.089041,0.574074,0.547619,0.783333,0.401961,0.401460,0.003549,0.479925,0.5,0.000000,0.789474,1.0,0.0
1,2009,Will Davis\DaviWi99,0.4,0.345238,0.529412,0.523316,0.410959,0.555556,0.595238,0.566667,0.475490,0.437956,0.025732,0.653595,0.0,0.333333,0.157895,1.0,0.0
2,2009,Herman Johnson\JohnHe23,0.6,0.400794,0.823529,0.994819,0.863014,0.537037,0.452381,0.650000,0.401961,0.401460,0.021739,0.961718,0.5,0.833333,0.526316,1.0,0.0
3,2009,Rashad Johnson\JohnRa98,0.5,0.015873,0.352941,0.222798,0.164384,0.703704,0.309524,0.650000,0.328431,0.270073,0.012866,0.275444,0.0,0.166667,0.315789,1.0,0.0
4,2009,Cody Brown\BrowCo96,0.4,0.182540,0.529412,0.435233,0.349315,0.685185,0.571429,0.650000,0.333333,0.394161,0.008873,0.507937,0.0,0.666667,0.578947,1.0,0.0

In [192]:
X_cls= df_clasificacion.drop(['Drafted','Year','Drafted..tm.rnd.yr._IDENT'],axis=1)#Se eliminan las columnas con datos de tipo caracter
y_cls= df_clasificacion['Drafted']#Se agrega la columna para

In [193]:
X_cls.head(5)

,Player,Age,School,Height,Weight,Sprint_40yd,Vertical_Jump,Bench_Press_Reps,Broad_Jump,Agility_3cone,Shuttle,Drafted..tm.rnd.yr.,BMI,Player_Type,Position_Type,Position
0,Beanie Wells\WellCh00,0.2,0.646825,0.470588,0.388601,0.089041,0.574074,0.547619,0.783333,0.401961,0.401460,0.003549,0.479925,0.5,0.000000,0.789474
1,Will Davis\DaviWi99,0.4,0.345238,0.529412,0.523316,0.410959,0.555556,0.595238,0.566667,0.475490,0.437956,0.025732,0.653595,0.0,0.333333,0.157895
2,Herman Johnson\JohnHe23,0.6,0.400794,0.823529,0.994819,0.863014,0.537037,0.452381,0.650000,0.401961,0.401460,0.021739,0.961718,0.5,0.833333,0.526316
3,Rashad Johnson\JohnRa98,0.5,0.015873,0.352941,0.222798,0.164384,0.703704,0.309524,0.650000,0.328431,0.270073,0.012866,0.275444,0.0,0.166667,0.315789
4,Cody Brown\BrowCo96,0.4,0.182540,0.529412,0.435233,0.349315,0.685185,0.571429,0.650000,0.333333,0.394161,0.008873,0.507937,0.0,0.666667,0.578947

In [194]:
y_cls.head(5)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Drafted, dtype: float64

In [195]:
df_clasificacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3477 entries, 0 to 3476
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       3477 non-null   int64
 1   Player                     3477 non-null   object
 2   Age                        3477 non-null   float64
 3   School                     3477 non-null   float64
 4   Height                     3477 non-null   float64
 5   Weight                     3477 non-null   float64
 6   Sprint_40yd                3477 non-null   float64
 7   Vertical_Jump              3477 non-null   float64
 8   Bench_Press_Reps           3477 non-null   float64
 9   Broad_Jump                 3477 non-null   float64
 10  Agility_3cone              3477 non-null   float64
 11  Shuttle                    3477 non-null   float64
 12  Drafted..tm.rnd.yr.        3477 non-null   float64
 13  BMI                        3477 non-null   float64
 14  Player_Type                3477 non-null   float64
 15  Position_Type              3477 non-null   float64
 16  Position                   3477 non-null   float64
 17  Drafted                    3477 non-null   float64
 18  Drafted..tm.rnd.yr._IDENT  3477 non-null   float64
dtypes: float64(17), int64(1), object(1)
memory usage: 516.2+ KB

In [233]:
correlations = abs(df_clasificacion.corr()['Drafted'].drop('Drafted'))

# Ordenar las caracter√≠sticas por su correlaci√≥n con la variable objetivo
sorted_features = correlations.sort_values(ascending=False)

print(sorted_features)

Drafted..tm.rnd.yr._IDENT    1.000000
Drafted..tm.rnd.yr.          0.344005
Player_Type                  0.139350
Bench_Press_Reps             0.119748
Age                          0.117316
Vertical_Jump                0.100261
Sprint_40yd                  0.097926
Broad_Jump                   0.080007
Weight                       0.075714
BMI                          0.072121
Position                     0.065252
Shuttle                      0.064016
Height                       0.057537
Agility_3cone                0.050161
Year                         0.028912
Position_Type                0.028294
School                       0.005272
Name: Drafted, dtype: float64

<ipython-input-233-b57a22759efe>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlations = abs(df_clasificacion.corr()['Drafted'].drop('Drafted'))

In [206]:
from sklearn.model_selection import cross_val_score, train_test_split

X_cls= df_clasificacion.drop(['Player','Drafted','Year','Drafted..tm.rnd.yr._IDENT'],axis=1)#Se eliminan las columnas con datos de tipo caracter
y_cls= df_clasificacion['Drafted']#Se agrega la columna para

X_train, X_test, y_train, y_test = train_test_split(X_cls, y_cls, test_size=0.2, random_state=42)

In [207]:
from sklearn.svm import SVC

svm = SVC()

svm.fit(X_train, y_train)

SVC()

In [209]:
cross_val_scores = cross_val_score(svm, X_cls, y_cls, cv=5)
mean_accuracy = cross_val_scores.mean()
print('Cross-Validation Mean Accuracy: {:.2f}%'.format(mean_accuracy*100))

Cross-Validation Mean Accuracy: 81.56%

In [210]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score


# Crear el modelo de √°rbol de decisi√≥n
model = DecisionTreeClassifier()

# Calcular el accuracy utilizando k-fold cross-validation
k = 5  # N√∫mero de folds
accuracies = cross_val_score(model, X_cls, y_cls, cv=5)

# Calcular el accuracy promedio
mean_accuracy = accuracies.mean()
print("Accuracy promedio: {:.2f}%".format(mean_accuracy*100))

Accuracy promedio: 99.94%

In [211]:
#Entrenamiento de modelo RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
modelo_RF = RandomForestClassifier()
modelo_RF.fit(X_train,y_train)

RandomForestClassifier()

In [212]:
import tensorflow as tf
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
def create_model():
    model = tf.keras.Sequential()
    model.add(tf.keras.layers.Dense(64, activation='relu', input_shape=(X_cls.shape[1],)))
    model.add(tf.keras.layers.Dense(64, activation='relu'))
    model.add(tf.keras.layers.Dense(1, activation='sigmoid'))
    model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
    return model


model_n = KerasClassifier(build_fn=create_model, epochs=1500, batch_size=32, verbose=False)
model_n.fit(X_train,y_train)

transfor_model = Pipeline([('preprocessing', scaler), ('classification', model_n)])

<ipython-input-212-56b0097c534b>:14: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model_n = KerasClassifier(build_fn=create_model, epochs=1500, batch_size=32, verbose=False)

In [214]:
#accuracy modelo KNeighborsClassifier
from sklearn.model_selection import cross_val_score
scores_knc = cross_val_score(modelo_RF,X_cls,y_cls,cv=5,scoring='accuracy')
print('El accuracy utilizando RandomForestClassifier es de:',scores_knc.mean())

El accuracy utilizando RandomForestClassifier es de: 0.998561978003804

In [217]:
scores_redN = cross_val_score(transfor_model,X_cls,y_cls,cv=5,scoring='accuracy')
print('El accuracy utilizando una red neuronal es de:',scores_redN.mean())

22/22 [==============================] - 0s 1ms/step
22/22 [==============================] - 0s 2ms/step
22/22 [==============================] - 0s 2ms/step
22/22 [==============================] - 0s 1ms/step
22/22 [==============================] - 0s 2ms/step
El accuracy utilizando una red neuronal es de: 0.9608831555445299